extend default

block content
  form(action='/relays', method='POST')
    .row
      .col-xs-6
        form(role="form")
          .form-group
            label Relay1 
              input(type="checkbox", name="chkbox1" )
              |  On 
              input(type="checkbox", name='chkbox2' )
              |  Off  
            label Duration 
            select(id="dur123" name="duration")
              option -1
              option 1
              option 2
              option 3
              option 4
              option 5
          input.btn.btn-primary(type="submit", value='Relays')



