extend default

block content
  p.
    Remote Relay Control using NODEJS This module can be used to remote control relay cards over the network.
    It has numerous applications in automation applications.
  p.
    Ex: Any IA32 platforms: (ex: Edison, SBC, Tablet, Netbook, Chromebook, Notebook,
    Server) that can run Linux and has USB ports for hooking up a usb-relay08 card or
    has I2C support (ex: Edison) for connecting to a i2c-gpio -to- gpio Relay card
  p.
    TODO: add details supported hardware and relay cards here.
